* {
  box-sizing: border-box;
}

body {
  padding-top: 61px;
}

.center {
 text-align: center;
}

aside a {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  width: 100%;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
  /* property name | duration | timing function | delay */

  transition: all 1s linear;
  position: relative;
}

aside a:hover {
  background: red;
  margin-top: 10px;
}

nav {
  background: #666;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.container {
  padding: 40px 0;
}

section {
  margin: 20px 0;
  margin-left: 200px;
}

aside { 
  width: 200px;
  float: left;
}

aside ul { 
  padding: 0;
}